@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

::-webkit-scrollbar{
    display: none;
}
::selection
{
  background: rgb(78, 78, 78);
  color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: rgb(209, 209, 209);
  font-family: "Poppins", sans-serif;;
}
nav{
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1b1b1b;
    width: 100%;
    position: absolute;
}
.logo{
    display: flex;
    justify-content: center;
    width: 20%;
  color: white;
  font-size: 27px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 600;
  /* margin: auto; */
  /* background: orange; */
  /* line-height: 70px; */
  /* padding-right: 20%; */
  /* margin-left: 40px; */
}
.paw{
    color: orange;
    margin: auto;
    /* text-align: center; */
    font-size: 40px;
    /* background: white; */
}
.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  /* background: red; */
  /* margin-left: 50%; */
}
.shop{
  position: relative;
}
.shop ul{
  position: absolute;
  top:50px;
  border-top: 5px solid orange;
  background-color: rgb(59, 58, 58);
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.shop li{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
}
.shop li:hover{
  background-color: black;
  transition: .3s;
}
.nav-links li:hover > ul{
  opacity: 1;
  visibility: visible;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 8px 13px;
  border-radius: 5px;
}
.nav-links li:hover{
  background: rgb(15, 15, 15);
  transition: .3s;
}
.container{
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
}
section{
    height: 100vh;
    align-items: center;
    scroll-snap-align: start;
}
.one{
    background-image: url(./images/cover.jpg);
    width: 100%;
    height: 80vh;
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
}
.title{
  text-align: center;
}
.title h2{
  background: #1b1b1b;
  font-size: 70px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
  padding: 8px 13px;
  border-top: 5px solid orange;
}
.title h1{
  color: white;
  font-size: 30px;
  padding: 8px 13px;
  font-style: italic;
  letter-spacing: 2px;

}
.two{
    background: rgb(230, 228, 228);
    height: 150vh;
    display: flex;
    flex-direction: column;
}
.title2{
  background: #1b1b1b;
  color: white;
  padding: 8px 13px;
  border-top: 5px solid orange;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 9vh;
  margin-bottom: 40px;
}
.details-about{
  /* background: black; */
  color: black;
  line-height: 50px;
  font-size: 18px;
  text-indent: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  padding: 8px 16px;
  text-align: justify;
  border-left: 5px solid orange;
  box-shadow: 4px 10px 10px -5px gray;
  /* margin: auto; */

}
.slideshow{
    width: 1280px;
    height: 720px;
    /* bottom: 70vh; */
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 60px;
}
.slides{
    display: flex;
    width: 500%;
    height: 500px;
}
.slides input{
    display: none;
}
.slide{
    transition: 1.5s;
}
.btn-slide {
    display: flex;
    margin-top: 120px;
    justify-content: center;
}
.bar{
    border: 3px solid rgb(211, 209, 209);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}
.bar:not(:last-child){
    margin-right: 40px;
}
.bar:hover{
    background: rgb(211, 209, 209);
}
#r1:checked ~ .first{
    margin-left: 0;
}
#r2:checked ~ .first{
    margin-left: -20%;
}
#r3:checked ~ .first{
    margin-left: -40%;
}
.three{
  background: rgb(221, 220, 220);
  height: 100vh;
  display: flex;  
  flex-direction: column;
}
.title3{
  /* display: flex;  
  justify-content: space-around; */
  /* flex-direction: column; */
  /* width: 10%;
  margin: auto; */
  background: #1b1b1b;
  color: white;
  padding: 8px;
  border-top: 5px solid orange;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 9vh;
  margin-bottom: 80px;
}
.grid-layout{
  /* background-color: black; */
  display: flex;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.img-grid, .img-grid2{
  list-style: none;
  text-align: center;
  line-height: 50vh;
  box-shadow: 4px 10px 120px -5px gray;
}
.img-grid:hover, .img-grid2:hover{
  margin-top: 4vh;
  /* opacity: .7; */
  transition: .6s;
}
.img-grid a, .img-grid2 a{
  text-decoration: none;
  color: white;
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: bold;
}
.img-grid{
  background-image: url(./images/accessory.jpg);
  /* background-position: center; */
  height: 50vh;
  width: 30%;
}
.img-grid2{
  /* background: blue; */
  background-image: url(./images/food.jpg);
  background-position: center;
  height: 50vh;
  width: 30%;
}
.four{
  background: rgb(212, 211, 211);
  height: 100vh;
  display: flex;  
  flex-direction: column;
}
.title4{
  background: #1b1b1b;
  color: white;
  padding: 8px 13px;
  border-top: 5px solid orange;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 9vh;
  margin-bottom: 10vh;
}
.contact-form{
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  /* background: black; */
  width: 40%;
  /* height: 80vh; */
  /* margin: auto; */
}
.contact-text{
  font-size: 16px;
  font-family: "Poppins";
  color: white;
  width: 100%;
  background: #292929;
  border: 0;
  outline: 0;
  margin-bottom: 40px;
  padding: 20px 40px;
  transition: .4s;
}
.contact-text:focus{
  box-shadow: 0 0 8px 2px #868686;
  margin-top: 5px;
}
textarea.contact-form-text{
  /* resize: none; */
  height: 200px;
}
.contact-btn{
  width: 150px;
  /* text-align: center; */
  padding: 10px;
  font-size: 20px;
  font-family: "Poppins";
  text-transform: uppercase;
  letter-spacing: 4px;
  border: 0;
  margin: auto;
  border-radius: 5px;
  background: #1b1b1b;
  color: white;
  cursor: pointer;
  transition: .3s;
}
.contact-btn:hover{
  border-top: 5px solid orange;
  /* margin-left: 5px; */
  margin: auto;
  /* box-shadow: 20px black; */
}